.wrapper {
  margin: 0;
}

#chat-container {
  float: left;
  width: 60%;
  overflow: hidden;
}

#user-container {
  float: left;
  width: 40%;
  overflow: hidden;
}

#message-container {
  height: 600px;
  overflow-y: scroll;
}

#typing-indicator-container {
  height: 20px;
  color: grey;
  font-size: 12px;
}

#typing-indicator{
  display: block;
}

.italic {
  font-style: italic;
}
